.navbar {
    transition: background-color 0.3s ease !important;
}
#main-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: space;
  
}

.flex-cont{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#flex-it{
    text-align: center;
}

#intro{
    font-size: 2.5rem;
    color: white;
    font-family: 'Roboto Mono', serif;
}

#sec-div{
    background: white;
}


