.navbar {
    transition: background-color 0.3s ease !important;
}
#main-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: space;
  
}

.flex-cont{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#flex-it{
    text-align: center;
}

.para{
    font-size: 2.5rem;
    color: white;
    font-family: 'Roboto Mono', serif;
}

#sec-div{
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;


}

.inner-div{
    width: fit-content;


}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50%; 

  }
  

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

